@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


#formTitle {
    padding: 1em 0;
}

#cartForm {
    display: flex;
    width: 30%;
    padding: 1em 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.formLabel {
    width: 12.2em;
    font-size: 1.4em;
    text-align: center;
    padding: 0.5em 0;
}

.formField {
    width: 11em;
    text-align: center;
}

#formButton {
    background-color: rgb(120, 189, 54);
    margin: 2em auto;
}

#formButton:hover{
    background-color: rgb(72, 139, 8);
}

.displayError {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-left: 0.7em;
    color: rgb(231, 45, 45);
}